{% set pip = salt['grains.filter_by']({
    'Debian': {
        'pip_pkg': 'python-pip',
        'dev_pkgs': [
          'build-essential',
          'python-dev',
        ],
    },
    'RedHat': {
        'pip_pkg': 'python-pip',
        'dev_pkgs': [
          'gcc',
          'python-devel',
        ],
    },
}, merge=salt['pillar.get']('pip:lookup')) %}
